<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_MVVM_Patrick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A96EDA291EA08BC100BFA09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96EDA3D1EA08BC200BFA09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96EDA481EA08BC200BFA09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
